* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 99%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.fizz {
    background-color: blueviolet;
    color: white;
}

.buzz {
    background-color: #57dfe3;
}

.fizzbuzz {
    background-color: #9c1c51;
    color: white;
}