* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #030333;
}

.container {
    padding: 1rem .5rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #030333;
    border-radius: 50%;
    margin: .25rem;
}

.fizz {
    background-image: url(../img/fizz.jpg);
    background-size: cover;
    background-position: center;
}

.buzz {
    background-image: url(../img/buzz.jpg);
    background-size: cover;
    background-position: center;
}

.fizzbuzz {
    background-image: url(../img/fizzbuzz.jpg);
    background-size: cover;
    background-position: center;
}

.odd {
    background-color: mistyrose;
}

.even {
    background-color: #fb8df7;
}